/*
 *
 * Norman C. Ives - Haydn Society HSL-110
 *
 */

/*
font-family: metronic-slab-narrow, serif;
font-weight: 400;
font-style: normal;

font-family: metronic-slab-narrow, serif;
font-weight: 700;
font-style: normal;
*/

$ives-lightbrown: #e7d9c5;
$ives-midbrown: #ad9f8b;
$ives-midbrown-alt: #867b70;
$ives-darkbrown: #685942;
$ives-darkerbrown: #483d35;

.ives-beethoven {
  position: relative;
  background-color: $ives-midbrown;
  padding: 13% 15% 13% 13%;
  * {
    margin: 0;
  }
  .inner {
    .title {
      background-color: $ives-darkbrown;
      > div {
        padding-left: 3%;
        padding-top: 2%;
        background-color: $ives-lightbrown;
        transform: skewX(15deg) translateX(4.7%);
        transition: all 300ms;
        p {
          color: $ives-darkbrown;
          display: inline-block;
          transform: skewX(-28deg) translateX(13%);
        transition: all 300ms;
        }
        p:first-child {
          font-size: 19vw;
          line-height: 18vw;
          font-family: "agency-fb-compressed", sans-serif;
          font-weight: 400;
          letter-spacing: .3vw;
        }
        p:nth-child(2) {
          font-size: 2.3vw;
          font-family: 'metronic-slab-narrow', serif;
          font-weight: 700;
          font-style: normal;
        }
      }
      > p {
        padding-left: 6%;
        padding-top: 2%;
        color: $ives-lightbrown;
        font-size: 19vw;
        line-height: 18vw;
        font-family: "agency-fb-compressed", sans-serif;
        font-weight: 400;
        letter-spacing: .3vw;
        transform: skewX(-15deg) translateX(1%);
        transition: all 300ms;
      }
    }
    .toc {
      background-color: $ives-lightbrown;
      padding-left: 3%;
      font-size: 2.3vw;
      transform: skewX(-15deg) translateX(-4.4%);
        transition: all 300ms;
      ul {
        padding: 2% 0;
        list-style: none;
        li {
          font-size: 2vw;
          font-family: 'metronic-slab-narrow', serif;
          font-weight: 700;
          font-style: normal;
          letter-spacing: .05vw;
          color: $ives-midbrown-alt;
          &:not(:last-child) {
            margin-bottom: 9%;
          }
        }
      }
    }
  }
  .credits {
    position: absolute;
    transform-origin: top left;
    transform: rotate(-90deg) skew(-15deg);
    left: 5%;
    bottom: 38%;
    transition: all 300ms;
    p {
      display: inline-block;
      font-size: 1.5vw;
    }
    span.copyright {
      position: relative;
      margin-right: 1vw;
    }
    .label {
      color: $ives-darkerbrown;
      font-family: 'metronic-slab-narrow', serif;
      font-weight: 700;
      font-style: normal;
    }
    .series {
      color: $ives-darkerbrown;
    }
    .catalog {
      color: $ives-lightbrown;
      font-family: 'metronic-slab-narrow', serif;
      font-weight: 700;
      font-style: normal;
    }
  }
}
  .ives-beethoven.aot.touched {
    position: relative;
    .inner {
      .title {
        > div {
          transform: skewX(0) translateX(0);
          padding-left: 0;
          p {
            transform: skewX(0) translateX(0);
          }
        }
        p {
          padding-left: 3%;
          transform: skewX(0) translateX(0);
        }
      }
      .toc {
        transform: skewX(0) translateX(0);
      }
    }
    .credits {
      position: absolute;
      transform-origin: top left;
      transform: rotate(0) skew(0);
      left: 13%;
      bottom: 5%;
    }
  }
@media screen and (min-width: 770px) {
  .ives-beethoven {
    .inner {
      .title {
        > div {
          p:first-child {
            font-size: 19vw * .7;
            line-height: 18vw * .7;
          }
          p:nth-child(2) {
            font-size: 2.3vw * .7;
          }
        }
        > p {
          font-size: 19vw * .7;
          line-height: 18vw * .7;
        }
      }
      .toc {
        font-size: 2.3vw * .7;
        ul {
          li {
            font-size: 2vw * .7;
          }
        }
      }
    }
    .credits {
      p {
        font-size: 1.5vw * .7;
      }
      span.copyright {
      }
    }
  }
}
@media screen and (min-width: 1025px) {
  .ives-beethoven {
    .inner {
      .title {
        > div {
          p:first-child {
            font-size: 19vw * .5;
            line-height: 18vw * .5;
          }
          p:nth-child(2) {
            font-size: 2.3vw * .5;
          }
        }
        > p {
          font-size: 19vw * .5;
          line-height: 18vw * .5;
        }
      }
      .toc {
        font-size: 2.3vw * .5;
        ul {
          li {
            font-size: 2vw * .5;
          }
        }
      }
    }
    .credits {
      p {
        font-size: 1.5vw * .5;
      }
      span.copyright {
      }
    }
  }
}
@media screen and (any-hover: hover){
  .ives-beethoven:hover {
    position: relative;
    .inner {
      .title {
        > div {
          transform: skewX(0) translateX(0);
          padding-left: 0;
          p {
            transform: skewX(0) translateX(0);
          }
        }
        p {
          padding-left: 3%;
          transform: skewX(0) translateX(0);
        }
      }
      .toc {
        transform: skewX(0) translateX(0);
      }
    }
    .credits {
      position: absolute;
      transform-origin: top left;
      transform: rotate(0) skew(0);
      left: 13%;
      bottom: 5%;
    }
  }
}
