.debug * {
  border: 1px solid red; }

html * {
  box-sizing: border-box; }

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

h1 {
  margin: .5em 0;
  padding: 0 0 0.5em 1em;
  font-family: sans-serif;
  border-bottom: 5px solid black; }

.wrapper {
  margin: 0 10vw; }

.albers-interaction {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
  margin-top: 50px; }
  .albers-interaction .inner {
    width: 87%;
    margin: 0 auto; }
  .albers-interaction .header {
    margin: 0;
    padding: 5% 0; }
    .albers-interaction .header svg.title {
      width: 100%;
      height: auto; }
      .albers-interaction .header svg.title text {
        font-family: 'EB Garamond', serif; }
    .albers-interaction .header .subtitle {
      margin-top: -0.7em;
      padding-left: 12%;
      font-size: 4vw;
      font-style: italic;
      font-family: 'EB Garamond', serif; }
  .albers-interaction p {
    margin: 0; }
  .albers-interaction .footer {
    margin: 0;
    padding: 4% 0 7%; }
    .albers-interaction .footer p {
      font-size: 1vw;
      position: relative;
      left: 77%; }
  .albers-interaction .square {
    margin: 0 auto; }
  .albers-interaction .square-outer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: #5bb8ad; }
  .albers-interaction .square-center {
    position: absolute;
    top: 14.65%;
    left: 50%;
    transform: translateX(-50%);
    width: 80.66%;
    height: 0;
    padding-bottom: 80.66%;
    background-color: #317584; }
  .albers-interaction .square-inner {
    position: absolute;
    top: 18.81%;
    left: 50%;
    transform: translateX(-50%);
    width: 74.74%;
    height: 0;
    padding-bottom: 74.74%;
    background-color: #225ba4; }

@media screen and (min-width: 770px) {
  .wrapper {
    margin: 0 20vw; }
  .albers-interaction .header .subtitle {
    font-size: 3vw; }
  .albers-interaction .footer p {
    font-size: 0.75vw; } }

@media screen and (min-width: 1025px) {
  .wrapper {
    margin: 0 30vw; }
  .albers-interaction .header .subtitle {
    font-size: 2vw; }
  .albers-interaction .footer p {
    font-size: 0.5vw; } }
